body {
    font-size: 20px;
}

h1 {
    font-size: 2rem;
    color:blue;
    text-align: center;
}
ul {
    display: table;
    margin: auto;
}
input, button {
    width: 25%;
    margin: auto;
    display: block;
    margin: auto;
}